@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

// ************* Section 1 ************* //
// Gem 1 Button
.gem1 {
}

.button--test {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
// Spot Animation
.spot {
  $self: &;
  display: block;
  @include absolute;
  box-sizing: border-box;
  &__close {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 2;
    background: $pink;
    border: none;
    padding: 25px 7px;
    border-radius: 50px;
    color: $white;
    font-size: 50px;
    width: 100px;
    box-shadow: $box-shadow;
    transition: background-color 0s, box-shadow 0s, transform 300ms;
    &:hover,
    &:focus {
      transform: scale(1.2, 1.2);
      background: $blue;
      color: $white;
      box-shadow: $box-shadow-inverted;
    }
  }
  &__pause {
    top: calc(100% - 124px);
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-image: url('../../images/background--checkers--black.svg');
    background-size: 150px;
    background-repeat: repeat;
    @include flex;
  }
  &__window {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 500px;
    border-top: 10px solid $pink;
    border-right: 8px solid $pink;
    border-bottom: 10px solid $pink;
    border-left: 8px solid $pink;
    box-shadow: $box-shadow;
    border-radius: 100px;
    overflow: hidden;
  }
  &__vectors {
    @include absolute;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex($dir: column);
    z-index: 2;
  }
  &__track {
    position: absolute;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    height: 100%;
    @include flex($wrap: nowrap);
  }
  &__item {
    width: 64px;
    height: 64px;
    background: $black;
    border-radius: 48px;
  }
  &__bar {
    width: 150px;
    height: $spacing-16;
    background: $black;
  }
  &__svg {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 58%;
  }
  &__path {
    fill: none;
    stroke: none;
    stroke-miterlimit: 10;
    &--forward {
      @extend .spot__path;
    }
    &--reverse {
      @extend .spot__path;
    }
  }

  &__box {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 500px;
    background: $white;
    border-right: 5px solid $pink;
    border-left: 5px solid $pink;
  }
  &__video {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__iframe {
    width: 100%;
    height: auto;
    &:before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (16 / 9));
    }
  }
}
