@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

// ************* Section 1 ************* //
// Gem 1 Button
.gem1 {
}

.button--test {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
// Spot Animation
.spot {
  $self: &;
  display: block;
  @include absolute;
  box-sizing: border-box;
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include background--checkers;
    // @include flex($dir: column);
  }
  &__controls {
    position: relative;
    width: 100%;
    flex: 1;
    height: 200px;
    padding: $spacing-8;
    @include plastic-gradient-background(
      $deg: 0deg,
      $color: $blue,
      $percent: 5%
    );
    box-shadow: $box-shadow;
  }
  &__close,
  &__play {
    padding: 0 $spacing-24;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    height: 100%;
    box-shadow: $box-shadow;
    margin-right: 5px;
    transition: background-color 0s, box-shadow 0s, transform 300ms;
    @include plastic-gradient-background;
    &:hover,
    &:focus {
      @include plastic-gradient-background($inverted: true);
      box-shadow: $box-shadow-inset;
    }
  }
  &__frame {
    height: calc(100% - 200px);
    width: 100%;
    padding: 100px;
    position: relative;
    @include flex;
  }
  &__window {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
    background: $pink;
    border-radius: 6;
    box-shadow: $box-shadow;
    @include flex;
    &:before {
      content: '';
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
      // padding-top: 591.44px / 1127.34px * 100%;
      padding-top: 50%;
    }
    &:after {
      /* to clear float */
      content: '';
      display: table;
      clear: both;
    }
  }
  &__inner-window {
    position: relative;
    width: calc(100% - (45px * 2));
    height: calc(100% - (45px * 2));
    border-radius: 6px;
    box-shadow: $box-shadow-inset;
    overflow: hidden;
    background: $white;

    &:after {
      content: '';
      @include absolute;
      @include overlay--tv-screen;
      // background: url('../../images/background--diagonal-stripe--green.svg');
      // background-size: 75px;
      // background-repeat: repeat;
    }
  }

  &__vectors {
    @include absolute;
    box-shadow: $box-shadow-inset;
    border-radius: 7%;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex($dir: column);
    z-index: 2;
  }
  &__track {
    position: absolute;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    height: 100%;
    @include flex($wrap: nowrap);
  }
  // &__bottom {
  //   position: absolute;
  //   width: calc(100% * 3);
  //   bottom: 0;
  //   left: 0;
  //   height: 25px;
  //   background-color: $purple;
  //   z-index: 1;
  //   // &:after {
  //   //   content: '';
  //   //   @include absolute;
  //   //   top: -21px;
  //   //   background: url('../../images/border--circle--purple.svg');
  //   //   background-size: 50px;
  //   //   background-repeat: repeat-x;
  //   // }
  // }
  &__item {
    width: 64px;
    height: 64px;
    background: $yellow;
    border: 10px solid $black;
    box-shadow: $box-shadow;
    border-radius: 48px;
  }
  &__svg {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 105%;
  }
  &__path {
    fill: none;
    stroke: none;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    &--forward {
      @extend .spot__path;
    }
    &--reverse {
      @extend .spot__path;
    }
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    background: $white;
  }
  &__video {
    position: relative;
    width: 100%;
    height: 100%;
    &:before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (16 / 9));
    }
  }
}

// Box 0 - Beach
.beach {
  background: $purple;
  &__sun {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex;
    &-wrapper {
      position: relative;
      width: 40%;
      height: auto;
      background-image: url('../../images/beach--sun.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
  &__sand {
    position: absolute;
    width: 100%;
    height: 25px;
    background: #ffedc2;
    bottom: 0;
    left: 0;
  }
  &__palm {
    position: absolute;
    width: 312px;
    height: 90%;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    &--left {
      @extend .beach__palm;
      left: 10%;
      background-image: url('../../images/beach--palm--left.svg');
    }
    &--right {
      @extend .beach__palm;
      right: 10%;
      background-image: url('../../images/beach--palm--right.svg');
    }
  }
  &__wave {
    width: 110%;
    position: absolute;
    bottom: 20px;
    height: 75px;
    &-wrapper {
      background: $blue;
      position: relative;
      width: 100%;
      height: 100%;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        // top: -100%;
        background-image: url('../../images/path--wave--2.svg');
        background-repeat: repeat-x;
      }
    }
    &--0 {
      @extend .beach__wave;
      .beach__wave-wrapper:after {
        background-size: 70px;
        top: -35px;
      }
    }
    &--1 {
      @extend .beach__wave;
      // height: 45px;
      // left: -25px;
      .beach__wave-wrapper:after {
        background-size: 50px;
        top: -25px;
      }
    }
    &--2 {
      @extend .beach__wave;
      // height: 30px;
      .beach__wave-wrapper:after {
        background-size: 40px;
        top: -20px;
      }
    }
  }
  &__svg-box {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 40px;
    z-index: 5;
  }
  &__svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex;
  }
  &__svg {
    width: 100%;
    height: 100%;
    max-width: 50px;
  }
  &__wave-path {
    fill: none;
    stroke: none;
    stroke-width: 0;
  }
}
