@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './animations.scss' as *;

.buttons {
  width: 100%;
}

button,
.button {
  $self: &;
  @include clear-btn;
  @include btn-base;
  &--primary {
    @extend .button;
  }
  &--close {
    @extend .button;
    border: none;
    padding: 5px;
    background: transparent;
    &:hover,
    &:focus {
      background: transparent;
      color: $blue;
    }
  }
  &--image {
    @extend .button;
    #{$self}__figure {
      @include absolute;
      @include flex;
    }
    #{$self}__image {
      width: 100%;
      max-width: 60%;
      height: auto;
    }
  }
  &--blue {
    @extend .button;
    border: none;
    overflow: hidden;
    @include button-background-slide;
  }
}
