@use './variables.scss' as *;
@use './mixins.scss' as *;

.icon {
  &:after {
    @include icon;
  }
  &--arrow-long-right {
    @extend .icon;
    &:after {
      content: '\f178';
    }
  }
  &--login {
    @extend .icon;
    &:after {
      content: '\f090';
    }
  }
  &--logout {
    @extend .icon;
    &:after {
      content: '\f08b';
    }
  }
  &--chevron-right {
    @extend .icon;
    &:after {
      content: '\f054';
    }
  }
  &--chevron-down {
    @extend .icon;
    &:after {
      content: '\f078';
    }
  }
  &--banana {
    @extend .icon;
    &:after {
      content: '\e2e5';
    }
  }
  &--xmark {
    @extend .icon;
    &:after {
      content: '\f00d';
    }
  }
  &--pause {
    @extend .icon;
    &:after {
      content: '\f04c';
    }
  }
  &--play {
    @extend .icon;
    &:after {
      content: '\f04b';
    }
  }
}
