@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  height: auto;
  // @include tablet-landscape-up {
  //   padding-top: 129.63px;
  // }
}

.frame {
  position: fixed;
  pointer-events: none;
  background: $white--0;
  z-index: 5;
  &--top {
    @extend .frame;
    // border-top: $frame-border;
    height: $spacing-24;
    width: calc(100% - 96px);
    top: $spacing-48;
    left: $spacing-48;
  }
  &--right {
    @extend .frame;
    // border-right: $frame-border;
    height: calc(100% - 96px);
    width: $spacing-24;
    top: $spacing-48;
    right: $spacing-48;
  }
  &--bottom {
    @extend .frame;
    // border-bottom: $frame-border;
    height: $spacing-24;
    width: calc(100% - 96px);
    bottom: $spacing-48;
    left: $spacing-48;
  }
  &--left {
    @extend .frame;
    // border-left: $frame-border;
    height: calc(100% - 96px);
    width: $spacing-24;
    top: $spacing-48;
    left: $spacing-48;
  }
}

.section {
  $self: &;
  position: relative;
  width: 100%;
  &--fullscreen {
    @extend .section;
    height: 100vh;
    // height: calc(100vh - 129.63px);
    #{$self}__wrapper,
    #{$self}__row {
      height: 100%;
    }
  }
  &__wrapper {
    width: 100%;
    max-width: $site-width-extra-large;
    margin: auto;
  }
  &__row {
    width: 100%;
    @include flex;
  }
  &__col {
    flex: 1;
    padding: 0 $spacing-24;
    &--flex {
      height: 100%;
      @include flex;
    }
  }
  // &__content {
  //   max-width: 500px;
  //   margin: auto;
  // }
}

.header,
.footer {
  &__wrapper {
    @extend .section__wrapper;
    padding: 0 $spacing-32;
  }
  &__row {
    @extend .section__row;
  }
  &__col {
    @extend .section__col;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
}

.flex-grid {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  align-items: initial;
  gap: 2rem;
  &__item {
    position: relative;
    flex-basis: calc(20% - 2rem);
    box-sizing: border-box;
  }
}

// ********************* GRID ********************** //
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
}

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}

// ********************* SHAPE MODIFIERS ********************** //
.shape {
  &--square {
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

// ********************* BORDER MODIFIERS ********************** //
.border {
  &--black {
    border: 5px solid $black;
  }
}

// ********************* BACKGROUND MODIFIERS ********************** //
.background {
  &--full {
    @include absolute;
  }
  &--base-blue {
    background: $base-blue;
  }
}
