@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  @include tablet-portrait-up {
    font-size: $mobile-font-size;
  }
}

p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  @include heading-style(1.5rem);
  @include tablet-portrait-up {
    @include heading-style;
  }
  &--special {
    @extend .h1;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

h2,
.h2 {
  // letter-spacing: 0.02px;
  @include heading-style(1.4rem);
  @include tablet-portrait-up {
    @include heading-style(2.7rem);
  }
  &--special {
    @extend .h2;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

h3,
.h3 {
  @include heading-style(1rem);
  @include tablet-portrait-up {
    @include heading-style(2.5rem);
  }
  &--special {
    @extend .h3;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

h4,
.h4 {
  @include heading-style(0.75rem);
  @include tablet-portrait-up {
    @include heading-style(2rem);
  }
  &--special {
    @extend .h4;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

h5,
.h5 {
  @include heading-style(1.6rem);
  @include tablet-portrait-up {
    @include heading-style(1.5rem);
  }
  &--special {
    @extend .h5;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

h6,
.h6 {
  @include heading-style(1rem);
  &--special {
    @extend .h6;
    @include heading-style(
      $font-family: $special-font-family,
      $text-transform: none
    );
  }
}

.link {
  color: $black;
  text-decoration: underline;
  transition: all 300ms;
  &:before,
  &:after {
    transition: all 300ms;
  }
  &:hover,
  &:focus {
    color: $red;
  }
  &--scale {
    @extend .link;
    &:hover,
    &:focus {
      transform: scale(1.1, 1.1);
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-24 0;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
}
