@use '../../global/variables.scss' as *;
@use '../../global/mixins.scss' as *;

.background--beach {
  background: #bed3d1;
}
// Box 0 - Beach
.beach {
  background: transparent;
  &__cloud {
    position: absolute;
    height: auto;
    &--0 {
      @extend .beach__cloud;
      // width: 200px;
      width: 19%;
      top: 11%;
      right: 23%;
    }
    &--1 {
      @extend .beach__cloud;
      // width: 123px;
      width: 16%;
      top: 17%;
      left: 5%;
    }
    &--2 {
      @extend .beach__cloud;
      // width: 250px;
      width: 33%;
      top: 11%;
      right: 5%;
    }
    &--3 {
      @extend .beach__cloud;
      width: 20%;
      // width: 170px;
      top: 3%;
      left: 30%;
    }
    &--4 {
      @extend .beach__cloud;
      // width: 200px;
      width: 24%;
      top: 30%;
      left: 30%;
    }
  }
  &__sand {
    position: absolute;
    width: 100%;
    height: 150px;
    background: #f7ecaa;
    bottom: 0;
    left: 0;
  }
  &__palm {
    position: absolute;
    width: 100%;
    max-width: 312px;
    height: 90%;
    max-height: 447px;
    bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    &--left {
      @extend .beach__palm;
      left: 10%;
      background-image: url('../../images/section1/spot-animation/beach/beach--palm--left.svg');
    }
    &--right {
      @extend .beach__palm;
      right: 10%;
      background-image: url('../../images/section1/spot-animation/beach/beach--palm--right.svg');
    }
  }
  &__wave {
    width: 150%;
    position: absolute;
    bottom: 150px;
    left: -200px;
    height: 30px;
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        // top: -100%;
        background-repeat: repeat-x;
        background-size: 70px;
        top: -12px;
      }
    }
    &--0 {
      @extend .beach__wave;
      bottom: 200px;
      .beach__wave-wrapper {
        background: #2d5e6d;
        &:after {
          background-image: url('../../images/section1/spot-animation/beach/beach--wave--2.svg');
        }
      }
    }
    &--1 {
      @extend .beach__wave;
      bottom: 175px;
      left: auto;
      right: -200px;
      .beach__wave-wrapper {
        background: #5b8499;
        &:after {
          background-image: url('../../images/section1/spot-animation/beach/beach--wave--1.svg');
        }
      }
    }
    &--2 {
      @extend .beach__wave;
      background: #99bfbf;
      .beach__wave-wrapper {
        &:after {
          background-image: url('../../images/section1/spot-animation/beach/beach--wave--0.svg');
        }
      }
    }
  }
  &__svg-box {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 100px;
  }
  &__svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex;
  }
  &__svg {
    width: 100%;
    height: 100%;
    max-width: 50px;
  }
  &__wave-path {
    fill: none;
    stroke: none;
    stroke-width: 0;
  }
}
