@use '../../global/variables.scss' as *;
@use '../../global/mixins.scss' as *;

// Box 2 - Mountains
.desert {
  background: $green;
  &__sun {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex;
    &-svg {
      position: relative;
      width: 40%;
      height: auto;
      background-image: url('../../images/section1/spot-animation/beach/beach--sun.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
