@use '../../global/variables.scss' as *;
@use '../../global/mixins.scss' as *;

// Box 2 - Mountains
.mountain {
  background: #577482;
  &__sun {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex;
    &-svg {
      position: relative;
      width: 40%;
      height: auto;
      background-image: url('../../images/section1/spot-animation/beach/beach--sun.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
  &__box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__image {
    position: absolute;
    width: calc(100% + 200px);
    height: 100%;
    bottom: 0;
    left: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    &--back {
      @extend .mountain__image;
      background-image: url('../../images/section1/spot-animation/mountains/mountain--back.svg');
      height: 56%;
      // filter: blur(5px);
    }
    &--mid {
      @extend .mountain__image;
      background-image: url('../../images/section1/spot-animation/mountains/mountain--mid.svg');
      height: 65%;
      // filter: blur(3px);
    }
    &--front {
      @extend .mountain__image;
      background-image: url('../../images/section1/spot-animation/mountains/mountain--front.svg');
      height: 56%;
      // filter: blur(2px);
    }
  }
  &__tree {
    position: absolute;
    bottom: -20px;
    max-height: 500px;
    img {
      height: 100%;
      width: auto;
    }
    &--0 {
      @extend .mountain__tree;
      height: 80%;
      left: -8%;
    }
    &--1 {
      @extend .mountain__tree;
      height: 60%;
      left: 10%;
    }
    &--2 {
      @extend .mountain__tree;
      height: 50%;
      left: 4%;
    }
    &--3 {
      @extend .mountain__tree;
      height: 65%;
      right: 10%;
    }
    &--4 {
      @extend .mountain__tree;
      height: 55%;
      right: -6%;
    }
  }
}
