@use '../../global/variables.scss' as *;
@use '../../global/mixins.scss' as *;

// ************* Section 1 ************* //
// Gem 1 Button
.gem1 {
}

.button--test {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
